<h1>Home</h1>
<%= image_tag('home_image.jpg', :class => "img-responsive") %>
<h2>Over Ons</h2>

<p>
  Organic umami fixie, church-key tilde lo-fi viral blue bottle banh
  mi selvage narwhal tattooed chicharrones literally ramps.
  Lumbersexual biodiesel roof party skateboard pok pok.
  Air plant copper mug craft beer you probably haven't heard of them meditation venmo.
  Glossier asymmetrical farm-to-table yuccie cliche,
  craft beer banjo health goth polaroid fanny pack butcher chillwave keytar DIY squid.
  Iceland kale chips paleo typewriter, taxidermy tousled listicle tattooed.
  Actually swag subway tile, tumeric brunch sriracha slow-carb. Flexitarian XOXO stumptown subway tile.
</p>

<row>
  <div class="col-md-6">
    <h2>Nieuwe Winkel</h2>
    <p>
      Organic umami fixie, church-key tilde lo-fi viral blue bottle banh
      mi selvage narwhal tattooed chicharrones literally ramps.
      Lumbersexual biodiesel roof party skateboard pok pok.
      Air plant copper mug craft beer you probably haven't heard of them meditation venmo.
      Glossier asymmetrical farm-to-table yuccie cliche,
      craft beer banjo health goth polaroid fanny pack butcher chillwave keytar DIY squid.
      Iceland kale chips paleo typewriter, taxidermy tousled listicle tattooed.
      Actually swag subway tile, tumeric brunch sriracha slow-carb. Flexitarian XOXO stumptown subway tile.
    </p>
  </div>
  <div class="col-md-6">
    <%= image_tag('store.jpg', :class => "img-responsive") %>
  </div>
</row>